@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1s cubic-bezier(.05, .05, 0, 1);
}

body {
    background-color: #000;
    color: #fff;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    width: 100vw;
    height: 10vh;
    position: absolute;
    z-index: 1;
    margin-top: 0.5vh;
}

.mini-logo {
    width: 40px;
    height: 40px;
}

.header__search-catalog {
    --header__search-catalog-size: calc(var(--index) * 15);
    display: flex;
    align-items: center;
    left: calc(50% - var(--header__search-catalog-size));
    top: 1vh;
    width: 50vw;
}

.header__catalog-link {
    margin-right: 40px;
    text-decoration: none;
}

.header__catalog-icon {
    height: 35px;
}

.header__search-catalog__img {
    min-width: 36vw;
    max-height: 35px;
    object-fit: cover;
    border-radius: 10em;
}

.header__account-container {
    display: flex;
    max-height: 35px;
    width: 120px;
    justify-content: space-between;
}

.header__cart-icon,
.header__account-icon {
    height: 35px;
    width: 35px;
    
}

.header__account-container {
    display: flex;
    align-items: center;
}

.header__account-dropdown {
    position: relative;
    display: inline-block;
}

.user-initial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    background-color: transparent;
    color: white; 
    font-weight: bold; 
    border: white 3px solid;
}

.header__account-container-link {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.dropdown-content {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
    border-radius: 4px;
    border: #ffffff 2px solid;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bc0000; 
}

.header__account-dropdown:hover .dropdown-content {
    display: block;
}


.header__mobile-format {
    display: flex;
    position: absolute;
    z-index: 1;
}

.header__menu__button {
    margin: 2vh 2vw;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.header__account-m-container {
    display: flex;
    position: fixed;
    top: 2vh;
    right: 2vw;
}

.header__menu__button-icon,
.header__account-m-icon {
    display: flex;
    width: 35px;
    height: 35px;
}

.nav {
    display: none;
    background-color: #342e30;
    position: absolute;
    top: 50px;
    left: 0;
    width: 30vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Edu AU VIC WA NT Dots';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
}

.nav.active {
    display: block; 
}

.license{
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(var(--index) * .9);
    margin:14px;
}


.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__containers {
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform:rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
    transform: translateZ(100px) scale(1.04);
}
.layer-3 {
    transform: translateZ(200px) scale(.88);
}
.layer-4 {
    transform: translateZ(250px);
}
.layer-5 {
    transform: translateZ(300px);
}

.hero-content {
    font-size: calc(var(--index) * 1.4);
    letter-spacing: calc(var(--index) * .15);
    line-height: 1.7em;
    margin: clac(var(--index) * 5.5);
    text-align: center;
    text-transform: uppercase;
    
}

.hero-content span {
    display: block;
}

.hero-content__p {
    text-transform: none;
    font-family: 'Edu AU VIC WA NT Dots';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    line-height: 2;
    font-size: calc(var(--index) * 1.1);
}

.button-catalog {
    margin: 3vh;
    padding: calc(var(--index) * .50) calc(var(--index) * .71);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: calc(var(--index) * .75);
    letter-spacing: -0.03vw;
    background-color: transparent;
    color:#fff;
    border-radius: 10em;
    border: rgb(255 255 255 / .4) 2px solid;
    outline: none;
    cursor: pointer;

}
.layer-5 {
    pointer-events: none;   
}

@media (max-width: 768px) {
    .header__pc-format {
        display: none;
    }
    
    .header__mobile-format {
        display: block;
    }
}

@media (min-width: 768px) {
    .header__pc-format {
        display: block;
    }

    .header__mobile-format {
        display: none;
    }
}